* {
    box-sizing: border-box;
  }
  
.container {
    display: flex;
    min-height: none;
}

.row {
    margin: 0px 10px;
}
h3 {
    text-align: left;
    line-height: 1;
    padding-bottom: 20px;
    color:darkgreen;
    font-size: 24px;
}

  
  

  
